.text{
    font-size: 15pt;
}
.f1{
    text-shadow: 1px 1px 2px green
}
.f2{
    border: 2px solid rgb(74, 204, 154);
    border-radius: 15px;
    padding-left: 15px;
}
.f3{
    background: rgba(230, 116, 116, 0.379);
    border: 3px solid rgba(201, 31, 31, 0.679);
    border-radius: 15px;
    padding-left: 15px;
}